
<!-- ############ PAGE START-->
<div class="padding">
  <div class="box">
    <div class="box-header">
      <h2>Nationalid Verifications</h2>
      <small>.......</small>
    </div>
    <div class="box-body">
      Search: <input id="filter" type="text" class="form-control input-sm w-auto inline m-r"/> 
    </div>
    <div>
      <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5">
        <thead>
          <tr>
              <th>
              UserName
              </th>
              <th data-hide="phone">
              Status
              </th>
          </tr>
        </thead>
        <tbody>
        <% @nationalid_verifications.each do |nationalid_verification| %>
          <tr>
              <td><%= nationalid_verification.user.username %></td> 
              <% if nationalid_verification.status == "Verified"  %>
                <td data-value="1"><span class="label success" title="Active">Verified</span></td>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">UnVerified</span></td>
              <% end %>
              <td><%= link_to 'Show', nationalid_verification, :class => 'btn btn-sm info' %></td>   
              <% if current_user and current_user.roleid == 1 %>
                    <td><%= link_to 'Edit', edit_nationalid_verification_path(nationalid_verification), :class => 'btn btn-sm warning' %></td>       
              <% end %>           
          </tr>
        <% end %>
          
        </tbody>
        <tfoot class="hide-if-no-paging">
          <tr>
              <td colspan="5" class="text-center">
                  <ul class="pagination"></ul>
              </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>



<!-- ############ PAGE END-->