<%= debug @affilate_program.user%>
<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @affilate_program.user.username %>
</p>

<p>
  <strong>Refered by:</strong>
  <%= @affilate_program.refered_by %>
</p>

<%= link_to 'Edit', edit_affilate_program_path(@affilate_program) %> |
<%= link_to 'Back', affilate_programs_path %>
