
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to amira.com, <%= @email %></h1>
    <h3> <%= @invited_by + " has sent you a registration invitation with a number " + @invitation_code %></h3>
    <p>
    <a href="https://clearance.herokuapp.com/affilate-program/<%= @invitation_code %>"  target="_blank"><%= "register now" %></a>
    </p>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
