<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @admin.id %></span>
          <h3>Admin Profile</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Username</th>
              <td><%= @admin.username %></td>
            </tr>
          </thead>
          <tbody>
          <%# if @admin.avatar.attached? %>
            <!-- <tr>
              <th>Profile Picture</th>
              <td> <%# image_tag @admin.avatar.variant(resize: "100x100")  %></td>
            </tr> -->
          <%# end %>
            <tr>
              <th>firstname</th>
              <td> <%= @admin.firstname %></td>
            </tr>
            <tr>
              <th>lastname</th>
              <td> <%= @admin.lastname %></td>
            </tr>
            <tr>
              <th>Email</th>
              <td> <%= @admin.email %></td>
            </tr>
            <tr>
              <th>account_number</th>
              <td> <%= @admin.account_number %></td>
            </tr>
            <tr>
              <th>uuid</th>
              <td> <%= @admin.uuid %></td>
            </tr>
            <tr>
              <th>telephone</th>
              <td> <%= @admin.telephone %></td>
            </tr>
            <tr>
              <th>roleid</th>
              <td> <%= @admin.roleid %></td>
            </tr>
            <tr>
              <th>country</th>
              <td> <%= @admin.country.Full_Name %></td>
            </tr>
            <tr>
              <th>Account Currency</th>
                <% if !(@admin.account_currency)%>
                   <td> <%= "USD" %></td>
                <% else %>
                   <td> <%= @admin.country.Currency %></td>
                <% end%>
            </tr> 
          <% if @admin.secret_code != nil and @admin.secret_code != "" %>                
            <tr>
              <th>Secret Code</th>
              <td><%= "********" + @admin.secret_code[@admin.secret_code.length - 3 ,3] %></td>
            </tr> 
          <% end %>                
            <tr>
              <th>Active Otp</th>
              <% if @admin.active_otp == 1 %>
                  <td> <%= "Email Code" %></td>
              <% elsif @admin.active_otp == 2 %>
                  <td> <%= "Google Authentication Code" %></td>
              <% end %>              
            </tr>
            <tr>
            
            <tr>
              <th>Other Links</th>
              <td> <%= link_to 'Edit Profile', edit_admin_path(@admin) %> - <%= link_to 'show admin log'.html_safe, { :controller => :admin_watchdogs,:action=>:admin_log,:id => @admin.id} %> - <%= link_to t('show active sessions').html_safe, { :controller => :admin_logins,:action=>:admin_active_sessions,:id => @admin.id} %> - </td>
            </tr>
            
                    
           
          </tbody>
        </table>
      </div>
</div>