<p id="notice"><%= notice %></p>

<h1>Admin Watchdogs</h1>

<table>
  <thead>
    <tr>
      <th>Admin</th>
      <th>Logintime</th>
      <th>Ipaddress</th>
      <th>Lastvisit</th>
      <th>Operation type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_watchdogs.each do |admin_watchdog| %>
      <tr>
        <td><%= admin_watchdog.admin_id %></td>
        <td><%= admin_watchdog.logintime %></td>
        <td><%= admin_watchdog.ipaddress %></td>
        <td><%= admin_watchdog.lastvisit %></td>
        <td><%= admin_watchdog.operation_type %></td>
        <td><%= link_to 'Show', admin_watchdog %></td>
        <td><%= link_to 'Edit', edit_admin_watchdog_path(admin_watchdog) %></td>
        <td><%= link_to 'Destroy', admin_watchdog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Watchdog', new_admin_watchdog_path %>
