<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_info.user.username %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user_info.mobile %>
</p>


<p>
  <strong>Address verification:</strong>
  <% if @user_info.address_verification_id != 0 %>
     <%= link_to @user_info.address_verification.status , address_verification_path(:id => @user_info.address_verification_id) %>
  <% else %>
     <%= "UnVerified" %>
  <% end %>

     </p>

 

<p>
  <strong>Nationalid verification:</strong>
  <% if @user_info.nationalid_verification_id != 0  %>
      <%= link_to @user_info.nationalid_verification.status , nationalid_verification_path(:id => @user_info.nationalid_verification_id) %>
  <% else %>
      <%= "UnVerified" %>
  <% end %>
   </p>



<p>

  <strong>Selfie verification:</strong>
  <% if @user_info.selfie_verification_id != 0 %>
     <%= link_to @user_info.selfie_verification.status , selfie_verification_path(:id => @user_info.selfie_verification_id) %>
  <% else %>
     <%= "UnVerified" %>
  <% end %>
     </p>


<p>
  <strong>Status:</strong>
  <%= @user_info.status %>
</p>

<%= link_to 'Edit', edit_user_info_path(@user_info) %> |
<%= link_to 'Back', user_infos_path %>
