<!-- brand -->
<a class="navbar-brand">
	<div ui-include="'/assets/images/logo.svg'"></div>
	<img src="/assets/images/logo.png" alt="." class="hide">
	<span class="hidden-folded inline">
		Payers
		<!-- {{app.name}} -->
	</span>
</a>
<!-- / brand -->
