<p id="notice"><%= notice %></p>

<p>
  <strong>Admin:</strong>
  <%= @admin_login.admin %>
</p>

<p>
  <strong>Ip address:</strong>
  <%= @admin_login.ip_address %>
</p>

<p>
  <strong>User agent:</strong>
  <%= @admin_login.user_agent %>
</p>

<p>
  <strong>Device:</strong>
  <%= @admin_login.device_id %>
</p>

<p>
  <strong>Operation type:</strong>
  <%= @admin_login.operation_type %>
</p>

<%= link_to 'Edit', edit_admin_login_path(@admin_login) %> |
<%= link_to 'Back', admin_logins_path %>
