<p id="notice"><%= notice %></p>

<h1>Watchdogs</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ip</th>
      <th>Details</th>
      <th>created_at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log.each do |watchdog| %>
      <tr>
        <td><%= watchdog.user.username%></td>
        <td><%= watchdog.ipaddress %></td>
        <td><%= watchdog.operation_type %></td>
        <td><%= watchdog.created_at %></td>
        <td><%= link_to 'Show', watchdog %></td>
        <td><%= link_to 'Edit', edit_watchdog_path(watchdog) %></td>
        <td><%= link_to 'Destroy', watchdog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watchdog', new_watchdog_path %>
