<div class="padding">
  
      <div class="box">
        <div class="box-header">
          <span class="label danger pull-right"><%= @country.id %></span>
          <h3>Country Details</h3>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Full name</th>
              <td><%= @country.Full_Name %></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>Short code</th>
              <td> <%= @country.short_code %></td>
            </tr>
            <tr>
              <th>Phone code</th>
              <td> <%=@country.Phone_code %></td>
            </tr>
            <tr>
              <th>Currency:</th>
              <td> <%= @country.Currency %></td>
            </tr>
            <tr>
              <th>Language</th>
              <td> <%= @country.language %></td>
            </tr>
            <tr>
              <th>Active</th>
              <% if @country.active == 1  %>
                <td data-value="1"><span class="label success" title="Active">Active</span></td>
              <% else  %>
                <td data-value="2"><span class="label" title="Disabled">Disabled</span></td>
              <% end %>
            </tr>
            <% if current_user and current_user.roleid == 1 %>
            <tr>
                <th>Other Links</th>
                <td> <%= link_to 'Edit', edit_country_path(@country), :class => 'btn btn-sm warning'  %> - <%= button_to 'Destroy', @country, method: :delete, :class => 'btn btn-sm danger', :onclick => "return confirm('Are you sure?')" %></td>
            </tr>
            <% end %> 
           
          </tbody>
        </table>
      </div>
</div>
<%= link_to 'Back', countries_path %>